@import "tailwindcss";

@theme {
  --color-background: #1F1F1F;
  --color-surface: #2F2A3A;
  --color-primary: #4B1D3F;
  --color-accent: #FF6B6B;
  --color-text: #F7F4EF;
  --color-secondaryText: #BFAACD;
}

