@import "tailwindcss";

@theme {
  --color-purpl: #5d5db9;
  --color-tel: #16e0d4;
  --color-bermuda: #78dcca;
  --color-brand: #1E40AF;
}

.custom-gradient {
  background: linear-gradient(to right, #5d5db9 5%, #000000 95%);
}
